@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/img/product1.jpg" alt="Organic Gummi">
        </div>

        <div class="item">
            <img src="~/img/product2.jpg" alt="Giant Gummi">
        </div>

        <div class="item">
            <img src="~/img/product3.jpg" alt="Gummi Jacket">
        </div>

        <div class="item">
            <img src="~/img/product4.jpg" alt="DIY Gummi">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="about flex-container">
    <div class="flex-item">
        <h3 class="center">ABOUT US</h3>
        <p>Gummi Bear Kindom is committed to bringing you the newest and highest quality innovations to the gummi bear. We are located in Wonkaville, MD in a secret gummi laboratory. Growing up as kids we loved all things gummi and now we get to make them for a living. We hope to inspire the next generation of gummi loving youngsters.</p>
    </div>
    <div class="flex-item">
        <img src="~/img/owner1.jpg" alt="Owner 1"/>
        <img src="~/img/owner2.jpg" alt="Owner 2"/>
    </div>
</div>